<% @videos.each do |video| %>
  <p>
    <strong>Title:</strong>
    <%= video.name %>
  </p>
  <p>
    <strong>Beschreibung:</strong>
    <%= video.description %>
  </p>
  <p>
    <strong>Tags:</strong>
    <% video.tags.each do |tag| %>
      <%= tag.name %>
    <% end %>
  </p>
  <p>
      <iframe type='text/html' src='https://www.youtube.com/embed/<%= video.youtoobe_id %>' width='640' height='360' frameborder='0' allowfullscreen='true'></iframe>
  </p>
  <%= link_to 'Edit', "/edit/"+video.id.to_s if @admin %>
  <hr>
<% end %>