<script>
  $( document ).ready(function() {
    $('#tags_filter').submit(function() {  
      var valuesToSubmit = $(this).serialize();
      $.ajax({
          type: "GET",
          url: $(this).attr('action'), //sumbits it to the given url of the form
          data: valuesToSubmit,
      }).success(function(html){
          $('#video_container').html(html);
      });
      return false; // prevents normal behaviour
    });
  });
</script>

<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<%= form_tag("/overview/ajax/", id: "tags_filter", method: "get") do %>
  <fieldset>
    <legend>Filter</legend>
     <% @filter.each do |tag| %>
      <%= check_box_tag("filter[]", tag[:id]) %>
      <%= label_tag(:tag, tag[:name]) %>
    <% end %>
  </fieldset>
  <p><%= button_to "save and continue",{:class=>"savebutton"} %></p>
<%end%>


<div id="video_container">
  <%= render partial: "video", layout: "video" %>
</div>