<%= form_tag("/edit", method: "post") do %>
<%= hidden_field_tag(:id, @video.id) %>
    <p>
      <%= label_tag(:name, "Titel:") %>
      <%= text_field_tag(:name, @video.name) %>
    </p>
    <p>
      <%= label_tag(:description, "Beschreibung:") %>
      <%= text_field_tag(:description, @video.description) %>
    </p>
    <p>
      <%= label_tag(:youtoobe_id, "Youtoobe ID (z.B. ahYd4t4vms8):") %>
      <%= text_field_tag(:youtoobe_id, @video.youtoobe_id) %>
    </p>
    <p>
        <% @tags.each do |tag| %>
            <% 
                # Check is active
                checked = false
                @video.tags.each do |activ_tag|
                    if activ_tag.id == tag.id
                        checked = true
                    end
                end
            %>

            <%= check_box_tag("tag[]", tag[:id], checked) %>
            <%= label_tag(:tag, tag[:name]) %>
        <% end %>
    </p>
    <%= submit_tag("Speichern") %>
<% end %>