<!DOCTYPE html>
<html>
<head>
  <title>VideoPortal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Übersicht",   '/' %></li>
        <li><%= link_to "Video erfassen",   '/edit' %></li>
        <li><%= link_to "Tags verwalten", '/tags' %></li>
      </ul>
    </nav>
    <%= yield %>

</body>
</html>
